---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ArticleList from "../components/ArticleList";
import { pageWrapperWide } from "../styles/page.css";
import { SITE_TITLE } from "../consts";

const articles = (await getCollection("articles"))
  .filter((article) => !article.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const allTags = [...new Set(articles.flatMap((a) => a.data.tags))].sort();

const serialized = articles.map((article) => {
  const charCount = article.data.description.length;
  const words = Math.ceil(charCount / 3.5);
  return {
    title: article.data.title,
    description: article.data.description,
    date: article.data.date.toISOString().slice(0, 10),
    tags: article.data.tags,
    slug: article.id,
    readingTime: Math.max(1, Math.ceil(words / 200)),
  };
});
---

<Layout title={SITE_TITLE}>
  <div class={pageWrapperWide}>
    <ArticleList client:load articles={serialized} allTags={allTags} />
  </div>
</Layout>
