---
import ArticleList from "../components/ArticleList";
import MenuLines from "../components/MenuLines.astro";
import { APP_METADATA } from "../constants";
import Layout from "../layouts/Layout.astro";
import { pageHeading, pageWrapper } from "../styles/page.css";
import { calculateReadingTime, getPublishedArticles } from "../utils/articles";

const articles = await getPublishedArticles();

const serialized = articles.map((article) => ({
  title: article.data.title,
  description: article.data.description,
  date: article.data.date.toISOString().slice(0, 10),
  tags: article.data.tags,
  slug: article.id,
  readingTime: calculateReadingTime(article.data.description),
}));
---

<Layout title={APP_METADATA.title}>
  <div class={pageWrapper}>
    <h1 class={pageHeading}>Articles</h1>
    <MenuLines />
    <ArticleList client:load articles={serialized} />
  </div>
</Layout>
